body {
    color:rgb(118, 150, 189);
    border-radius: 5px;
}

.choice-container {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    border-radius: 5px;
    background: hotpink;
    min-width: 1000px;
}

.choice-container:hover {
    box-shadow: 0 10px 10px 0 purple;
    transition:  scaleY(1.5);
}

.choice-prefix {
    padding: 15px 15px;
    color:lavenderblush;
}

.choice-text {
    padding: 20px;
    font-size:150%;
}

.correct {
    background: linear-gradient(32deg,rgba(11,223,36) 0%, rgb(41,232,111) 100%) ;
} 

.incorrect {
    background: linear-gradient(32deg,rgba(230,29,29,1) 0%, rgb(224,11,11,1) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align:center ;
    font-size: 20px;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 500px;
    height: 20px;
    border: 20px solid rgb (11,223,36);
    margin-top: 15px;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11,223,36);
    width: 0%;
}
